<div class="homepage">
    <div class="row">
      <div class="col">
        <div class="logo-container text-center">
          <img class="img-fluid" src="/img/battleshipLogo.png">
        </div>
      </div>
    </div>

  <div class="container home-button-container">
    <div class="row">
      <div class="col">
       <a href="/lobby"><h1 style="color:#fce300">Play</h1></a>
      </div>
      <div class="col">
        <a href="/register"><h1 style="color:#fce300">Register</h1></a>
      </div>
    </div>
  </div>
</div>

