<div class="container">
    <h1 class="display-1">Account Profile</h1>
    <h2>Username: <span style="color:#fce300;">{{username}}</span></h2>
    <h2>Email:  <span style="color:#fce300;">{{email}}</span></h2>
    <h2>Wins:  <span style="color:#fce300;">{{win}}</span></h2>
    <h2>Losses:  <span style="color:#fce300;">{{loss}}</span></h2>
</div>
